/* Big Screen Device */
@media only screen and (min-width: 1601px) {
    .container {
        max-width: 1165px;
    }
}

/* XXL Device. */
@media only screen and (max-width: 1600px) {
    .container {
        max-width: 1165px;
    }
}

/* XL Device :1280px. */
@media only screen and (max-width: 1399px) {
    .container {
        width: 1165px;
    }

    /* index.html Page Responisve Start */
    .index-header {
        padding: 0 16px;
    }

    .header-end {
        gap: 75px;
    }

    .mini-card-pagination.swiper-pagination {
        margin-top: 30px !important;
    }

    /* index.html Page Responisve Start */

}


/* Large Device :992px. */
@media only screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }

    /* index.html Page Responisve Start */
    .fs-1 {
        font-size: 80px !important;
    }

    h1 {
        font-size: 80px;
    }

    .header-logo a img {
        max-width: 60px;
    }

    .header-end,
    .header-nav ul {
        gap: 40px;
    }

    .ucc-thumb img {
        max-width: 100%;
        width: 100%;
    }

    .card-title {
        font-size: 20px;
    }

    .advantage-cards-row {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 24px;
    }

    .hdw-number::after {
        width: 92%;
    }

    .testimonial-card {
        padding: 30px 30px 35px;
    }

    /* index.html Page Responisve End */


}


/* Medium Device :768px. */
@media only screen and (max-width: 991px) {
    .container {
        width: 720px;
    }



    .pricing-select .check-nav label .rattings {
        letter-spacing: -1%;
        padding-top: 3px;
        justify-content: center;
    }

    .pricing-select .check-nav label::after {
        display: block;
    }

    .check-wrapper nav {
        position: relative;
        z-index: 2;
    }

    p {
        font-size: 16px;
    }

    /* index.html Page Responisve Start */
    .fs-1 {
        font-size: 72px !important;
    }

    h1 {
        font-size: 50px;
    }

    .hero-section.section-padding {
        padding: 25px 0 70px;
    }

    .main-hero-para {
        font-size: 18px;
        line-height: 1.4;
    }

    .mini-cards-slider {
        padding: 12px;
        margin: -12px;
    }

    .single-mini-card {
        gap: 15px;
        font-size: 16px;
        padding: 8px 15px;
        height: 60px !important;
    }

    .vehicle-check-list {
        padding: 0 50px;
    }

    .hdw-title {
        font-size: 20px;
    }

    .testimonial-slider {
        padding: 20px;
        margin: -20px;
        margin-top: ;
    }

    .testimonial-card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* index.html Page Responisve End */



    /* step-page=css */
    .step-navigation {
        position: initial;
        left: 0;
        transform: translateX(0%);
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        margin-top: 23px;
    }

    .step-item--header h2 {
        font-size: 36px;
        line-height: 1.12;
    }

    .step-wrapper {
        padding: 28px 20px 70px;
    }

    .step-item--header {
        margin-bottom: 11px;
    }

    .type-vehicle {
        max-width: 315px;
        margin: 0 auto;
    }

    .step-item-content .type-vehicle {
        max-width: 520px;
        margin: 0 auto;
    }

    .check-wrapper .tab-pane {
        /*! display: block !important; */
    }


    .check-nav-content p {
        display: none;
    }

    .check-wrapper .nav {
        margin-bottom: 28px;
    }

    .check-badge {
        right: inherit;
        top: -17px;
        font-size: 16px;
        line-height: 20px;
        padding: 7px 16px 7px;
        left: 50%;
        transform: translateX(-50%);
    }

    .check-nav label {
        padding: 26px 13px 28px;
        border-bottom: 1px solid transparent;
        width: 100%;
        transition: .01s !important;
        border-radius: 5px;
        justify-content: center;
    }

    .check-nav-link {
        gap: 11px;
        flex-direction: column;
    }

    .check-content::after {
        display: none;
    }

    .check-content {
        border-radius: 5px;
    }

    .check-cotnent-body {
        border-top: none;
        padding-top: 26px;
        padding-bottom: 24px;
    }

    .nextStep.btn {
        width: 100%;
        padding: 18px 0px;
    }

    .contentBox {
        box-shadow: none;
    }

    .vehicle-infos-wrapper {
        padding: 24px 26px 70px;
        margin-left: -12px;
        margin-right: -12px;
        border-radius: 0px;
    }

    .step-wrapper {
        padding: 28px 0px 0px;
    }

    /* step-page=css--end */


    /* login-form-pages */

    .login-inner {
        padding: 60px 0px 80px;
    }

    .myProfile-form .myProfile-inner {
        padding: 48px 0px 70px;
    }

    /* login-form-pages--end */


}


/* Small Device :550px. */
@media only screen and (max-width: 767px) {
    .container {
        width: 540px;
    }



    #nav-tab>* {
        padding: 0 5px;
    }

    #nav-tab {
        padding: 0 7px;
    }

    .faq-accordion .accordion-body {
        margin: 0 20px;
    }

    .form-control {
        height: 65px;
        padding-left: 25px;
    }

    .form-content.myProfile .form-control {
        height: 60px;
    }

    .step-item-content .type-vehicle {
        max-width: 300px;
    }

    .step-item-content .nextStep.btn.btn-secondary {
        min-width: auto;
        margin-top: 8px;
    }

    .pricing-select .nextStep.btn {
        padding: 21px 0px;
    }

    .step-item-content .checkBtn label {
        margin-bottom: -6px;
    }

    .testimonial-card {
        min-height: 358px;
    }

    .client-name {
        margin-left: 6px;
    }

    .check-wrapper .fade:not(.show) {
        opacity: 0;
        display: none !important;
    }

    .testimonial-para {
        font-size: 18px;
        line-height: 1.2;
    }


    .report-card-icon {
        height: 90px;
        width: 90px;
        margin-right: 25px;
    }

    .report-card-icon img {
        height: 60px;
    }

    .report-card {
        margin-bottom: 20px;
        padding: 32px;
    }

    .report-card-content h4 {
        font-size: 27px;
    }

    .report-card-content p {
        font-size: 16px;
    }

    .page-header {
        padding: 50px 0;
    }

    .myProfile-wrapper.contact-form {
        padding: 20px 0;
    }

    .social-btns a {
        color: #01449A;
    }

    .page-header-content * {
        text-align: center !important;
    }

    .myProfile-bookins.d-block {
        padding: 60px 5px 55px;
    }

    .page-header-content.has-b {
        border-bottom: 1px solid #01449a;
        margin-bottom: 31px;
        padding-bottom: 22px;
    }

    .header-logo a img {
        max-width: 40px;
        position: relative;
        top: 2px;
    }

    .header {
        padding: 12px 0px;
    }

    .price-list-table .table thead tr th {
        font-size: 34px;
        padding: 2px;
    }

    .price-table-btn-m-none {
        display: none;
    }

    .benefit-banner-section {
        padding: 42px 0;
    }

    .price-list-box {
        margin-bottom: 40px;
        box-shadow: unset;
        border-radius: 0;
        padding: 0;
        padding-bottom: 58px;
        border-bottom: 1px solid #01449A;
    }

    .price-list-box .section-title.pb-2 {
        padding-bottom: 0 !important;
    }

    .price-list-table .table tbody tr>* {
        font-size: 21px;
        padding: 10px 15px;
        height: 70px;
    }

    .price-list-table .table tbody tr> :first-child {
        padding-left: 28px;
    }

    /* index.html Page Responisve Start */
    .mobile-menu .offcanvas-end {
        max-width: 80%;
    }

    .section-padding {
        padding: 55px 0px;
    }

    .fs-1 {
        font-size: 64px !important;
    }

    h1 {
        font-size: 64px;
    }

    .used-car-check-section {
        padding: 30px 0 60px;
    }

    .ucc-text {
        margin-bottom: 28px;
    }

    .ucc-text .section-title {
        max-width: 100%;
    }

    .vehicle-check-text {
        max-width: 100%;
    }

    .vehicle-check-section {
        padding: 40px 0 60px;
    }

    .vehicle-check-list ul li {
        width: 50%;
    }

    .hdw-card-inner {
        max-width: 100%;
        gap: 22px;
    }

    .hdw-number {
        width: auto;
    }

    .hdw-number::after {
        width: 100%;
        left: 10px;
    }

    .hdw-number::before {
        bottom: -175px;
        height: 160px;
    }

    .hdw-card-inner:last-child .hdw-number::before {
        display: none;
    }

    .hdw-card-inner:last-child .hdw-number::after {
        display: block;
    }

    .ucc-2-wrapper .ucc-text {
        margin-top: 40px;
    }

    .single-checklist {
        height: auto;
    }

    .checklist-head {
        min-height: 130px;
        border: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .checklist-head.gap-4 {
        gap: 12px !important;
    }

    .checklist-pretitle {
        display: none;
    }

    .checklist-ratings {
        justify-content: center;
    }

    .checklist-tag {
        top: -22px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .used-car-check-section-4 .section-padding {
        padding: 50px 0;
    }

    .ucc-4-top {
        gap: 12px;
    }

    .testimonial-info {
        line-height: normal;
    }

    .proud-item::after {
        top: auto;
        right: auto;
        bottom: 0;
        left: -50%;
        transform: translate(65%, -50%);
        width: 87%;
        height: 1px;
    }

    /* index.html Page Responisve End */

}



/* Extra small Device. */
@media only screen and (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .vehicle-infos-wrapper {
        padding: 24px 26px 55px;
        margin-left: -14px;
        margin-right: -14px;
    }

    .vehicle-info-bottom {
        padding-top: 10px;
    }

    .testimonial-ratings {
        margin-bottom: 5px;
    }

    .testimonial-wrapper {
        max-width: 325px;
        margin-top: 52px;
        margin-bottom: 50px !important;
    }

    .testimonial-ratings span {
        display: flex;
    }

    .report-card-icon img {
        height: 75px;
    }

    .vehicle-check-section .vehicle-check-list {
        max-width: 335px;
        margin: 0 auto;
        padding-left: 15px !important;
        padding-top: 3px;
    }

    .vehicle-check-section .vehicle-check-list ul li {
        font-size: 17px;
        gap: 17px;
    }

    textarea.form-control.large {
        min-height: 260px;
        padding-top: 18px;
    }

    textarea.form-control {
        min-height: 183px;
    }

    .main-hero-btns.gap-3 {
        gap: 12px !important;
    }

    .hero-counter-wrapper.gap-3 {
        gap: 15px !important;
    }

    .main-hero-para.mb-5 {
        margin-bottom: 36px !important;
    }

    .checklist-section {
        padding: 50px 0;
    }

    .btn {
        padding: 16.4px 40px;
    }

    .used-car-check-section-2 {
        padding: 40px 0;
    }

    .card-item {
        padding: 20px 28px 30px;
    }

    .report-card {
        margin-bottom: 0;
        padding: 35px 2px;
        border-bottom: 1px solid #01449A;
        border-radius: 0;
        box-shadow: unset;
    }

    .report-card:nth-child(2n) .report-card-body {
        flex-direction: column;
        text-align: center;
    }

    .report-card-body {
        flex-direction: column;
        text-align: center;
    }

    .report-card-icon {
        height: 115px;
        width: 115px;
        margin: 0 !important;
        margin-bottom: 20px !important;
    }

    .page-header-content.has-b {
        max-width: 100%;
    }

    .benefit-banner-btn {
        min-width: 325px;
    }

    .btn {
        font-size: 17px;
    }

    .hdw-btn {
        min-width: 320px;
    }

    /* index.html Page Responsive Start */
    .fs-1 {
        font-size: 55px !important;
    }

    h1 {
        font-size: 55px;
    }

    .main-hero-btn-1 {
        padding: 13px 40px;
    }

    .btn-secondary.main-hero-btn-1 {
        padding: 18px 40px;
    }

    .counter-client-img {
        width: 50px;
        height: 50px;
    }

    .counter-content .counter-text {
        line-height: 1;
    }

    .hero-section .counter-content .counter-text {
        font-size: 25px;
    }

    .hero-section .counter-content p {
        font-size: 21px;
    }

    .hero-section.section-padding {
        padding: 0;
        padding-top: 20px;
    }

    .hero-mobile-bg::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgb(1, 68, 154) 15%, rgba(1, 68, 154, 0) 92%);
    }

    .main-hero-btns .btn {
        max-width: 340px;
    }

    .mini-cards-wrapper {
        max-width: 291px;
        height: 70px !important;
    }

    .section-title {
        hyphens: auto;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .fs-3 {
        font-size: 36px !important;
    }

    h3 {
        font-size: 36px;
    }

    .vehicle-check-list {
        padding: 0;
    }

    .vehicle-check-btn {
        width: 315px;
    }

    .used-car-check-section-3,
    .testimonial-section,
    .faq-section {
        padding: 40px 0 65px;
    }

    .safety-banner-section {
        padding: 40px 0 50px;
    }

    .why-is-important-section.section-padding {
        padding: 50px 0 65px;
    }

    .buy-car-safely-section {
        padding: 45px 0;
    }

    .bcs-wrapper .section-title {
        max-width: 100%;
    }

    .secured-banner-wrapper {
        gap: 40px;
    }

    .faq-section .accordion-item {
        margin-bottom: 16px;
    }

    .faq-accordion {
        margin-bottom: 0;
    }

    .footer-widget {
        margin-bottom: 40px;
    }

    .footer-top {
        padding: 35px 0 10px;
    }

    /* index.html Page Responsive End */
}