@media (min-width: 1800px) {

    .container {
        max-width: 1425px;
    }

    .hero-area::after{
        background: linear-gradient(to right, rgb(7, 75, 163, 1) 35%, rgba(7, 75, 163, .5) 100%);
    }
}

@media (max-width: 1800px) {

    .container {
        max-width: 1325px;
    }

    .hero-area::after{
        background: linear-gradient(to right, rgb(7, 75, 163, 1) 35%, rgba(7, 75, 163, .5) 100%);
        opacity: 0.95;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1499px) {

    .container {
        max-width: 1250px;
    }
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1399px) {

    .container {
        width: 1140px;
    }

    .header-nav ul {
        gap: 35px;
    }
    .how-does-work-section, .faq-area, #safe-and-easy, .known-from-section {
        padding: 100px 0;
    }
    .hdw-report-btn {
        padding: 10px;
        height: 56px;
    }
    .hdw-icon span {
        width: 100px;
        height: 100px;
    }
    .hdw-icon span img {
        max-width: 100px;
    }
    .faq-area .section-heading {
        margin-bottom: 60px;
    }
    .section-heading h2 {
        font-size: 36px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1199px) {

    .container {
        width: 960px;
    }

    .header-btn a {
        margin-left: 35px;
    }
    .header-nav ul {
        gap: 30px;
    }
    .header-logo a img {
        max-width: 60px;
    }
    h1 {
        font-size: 60px;
    }
    .hero-content h1 {
        max-width: 625px;
    }
    h2 {
        font-size: 36px;
    }
    .paragraph {
        font-size: 16px;
    }
    .unsure-text {
        margin-right: 40px;
    }
    .not-anymore-text {
        margin-left: 40px;
    }
    .ratings-wrapper .ratings-check img {
        width: 85px;
    }
    .rd-top span {
        font-size: 30px;
    }
    .hdw-icon span {
        width: 80px;
        height: 80px;
    }
    .hdw-icon span img {
        max-width: 80px;
    }
    .single-hdw-item-3 .hdw-icon span img {
        height: 60px;
        margin-left: -7px;
    }
    .sac-info p {
        font-size: 16px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) {

    .container {
        width: 720px;
    }

    .mobile-menu-btn {
        line-height: 1;
        font-size: 26px;
    }
    .mobile-menu .offcanvas-title {
        font-size: 35px;
        color: #fff;
        margin-bottom: 4px;
    }
    .mobile-menu .offcanvas h6 {
        font-size: 19px;
        color: #fff;
        margin-bottom: 3px;
        line-height: 28px;
    }
    .mobile-menu button.offcanvas-close {
        position: absolute;
        right: 30px;
        top: 30px;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 28px;
        line-height: 1;
        padding: 0px;
    }
    .mobile-menu .offcanvas-header {
        padding-bottom: 20px;
        border-bottom: 1px solid #fff;
        padding: 0px;
        padding-bottom: 25px;
    }
    .mobile-menu-link ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        line-height: 28px;
        display: block;
        padding: 4px 0px;
    }
    .mobile-menu-link ul li a:hover {
        color: var(--secondary);
    }
    .hero-area {
        min-height: auto;
        padding-bottom: 100px;
    }
    .unsure-wrapper-row {
        gap: 40px 0;
    }
    .not-anymore-wrapper-row, .safe-and-easy-wrapper-row {
        gap: 60px 0;
    }
    .unsure-text {
        margin-right: 0;
    }
    .not-anymore-text {
        margin-left: 0;
    }
    .how-does-work-section, .faq-area, #safe-and-easy, .known-from-section, .testimonial-section, .ratings-section.section-padding {
        padding: 70px 0;
    }
    footer.footer {
        padding: 30px 0px 20px;
        background: #f0f5fa;
    }
    .footer-logo {
        margin-right: auto;
        margin-bottom: 35px;
    }
    .footer-end {
        margin-left: auto;
    }

}

/*  Medium devices (tablets, 768px and up) */
@media (max-width: 767px) {

    .container {
        width: 540px;
    }

    .mobile-menu-btn {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    h1 {
        font-size: 52px;
    }
    .hero-area .hero-form {
        padding: 35px 35px 50px;
    }
    .about-cards-section {
        padding: 48px 0 80px;
    }
    .about-cards-slider {
        padding: 0;
        margin: 0;
    }
    .about-cards-pagination {
        display: block;
    }
    .about-cards-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -50px;
    }
    .how-does-work-section, .faq-area, #safe-and-easy, .known-from-section, .testimonial-section, .ratings-section.section-padding, .section-padding {
        padding: 55px 0;
    }
    .hdw-heading {
        padding-bottom: 55px;
    }
    .hdw-item-inner {
        max-width: 100%;
    }
    .ratings-wrapper {
        text-align: center;
    }

}
/* Small devices  */
@media (max-width: 575px) {

    .container {
        width: 100%;
        padding: 0 15px;
    }

    h1 {
        font-size: 45px;
        letter-spacing: -1px;
    }
    .header {
        padding: 15px 0px;
    }
    .header-logo a img {
        max-width: 42px;
    }
    .mobile-menu-btn {
        font-size: 24px;
    }
    .hero-area {
        background-image: unset;
        padding-top: 110px;
        padding-bottom: 55px;
    }
    .hero-area::after {
        display: none;
    }
    .hero-para {
        max-width: 350px;
        font-size: 19px;
        letter-spacing: -.2px;
        line-height: 1.4;
    }
    .hero-form {
        max-width: 100%;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        box-shadow: unset !important;
    }
    .hero-area .hero-form {
        margin-bottom: 60px;
    }
    .hero-form button.btn {
        width: 100%;
        margin-left: 0;
        margin-top: 12px;
        font-size: 19px;
    }
    .form-btn:hover {
        background-color: #fff;
        border-color: #fff;
        color: var(--primary);
    }
    .hero-area .hero-form {
        padding: 0;
    }

    .hero-mobile-bg::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgb(1, 68, 154) 15%, rgba(1, 68, 154, 0) 92%);
    }

    .single-about-card .icon {
        margin-right: 30px;
    }
    .not-anymore-para {
        font-size: 17px;
    }
    .not-anymore-wrapper-row {
        gap: 35px;
    }
    .rd-bottom p {
        font-size: 21px;
    }
    .btn {
        font-size: 16px;
    }
    .ratings-wrapper .rd-top {
        margin-right: 0;
    }
    .hdw-row, .testimonial-wrapper {
        gap: 16px 0;
    }
    .hdw-report-btn {
        width: 100%;
    }
    .testimonial-card {
        max-width: 100%;
        min-height: auto;
    }
    .faq-area .accordion-collapse {
        margin-top: -1px;
    }
    #faq-section .accordion-button {
        font-size: 16px;
    }
    #faq-section .accordion-button::after {
        font-size: 20px;
    }
    .known-from-items {
        gap: 30px;
    }
}